body {
    font-family: verdana, tahoma, arial, sans-serif;
    position: relative;
    width: 100%;
}

#clock {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container {
    width: 100%;
}

#startUp {
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    max-width: 550px;
}

#questions {
    margin: 0 auto;
    padding: 40px 0;
    max-width: 550px;
}

h1 {
    margin-bottom: 15px;
}

button {
    margin-top: 10px;
}

#questions, #timesUp {
    display: none;
}

.answers {
    list-style-type: none;
    margin-bottom: 10px;
}